@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-purple: theme('colors.purple');
  --color-grey-light: theme('colors.grey.light');
}

/* ---- Global styles ---- */

.debug {
  border: 1px solid red
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ---- Custom scroll bar ---- */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #7D3C98;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a3282;
}

/* ---- Customize sweet alert ---- */


/* Global buttons styles */
.swal2-actions button {
  transition-duration: 200ms;
  transition-property: transform, opacity;
}

.swal2-actions button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

/* Confirm button colors */
.swal2-actions button.swal2-confirm {
  color: white;
  background-color: var(--color-purple);
  border-color: var(--color-purple);
}